<% let gender = 'هاوبه‌ش'; 
    if(gender == 'M' || gender == 'm') gender ='كور';
    else if(gender == 'F' || gender == 'F') gender ='كچ';
%>
<div class="grid grid-between submit-name-container">
    <div class="col-12 col-md col-sm">
        <h1><%=name%>  ( <%= gender %> ) </h1>
        <p>
            <%=desc%>
        </p>
    </div>
    <div class="social-container">
        <h5>بنێرە بۆ هاوڕێکانت</h5>
        <div class="addthis_inline_share_toolbox_sl27"></div>
    </div>
</section>
<button onclick="topFunction()" id="to-top" title="Go to top"><i class="fas fa-chevron-up"></i></button>

