
<section class="grid grid-between ">
    <div class="col col-5 col-md col-sm filters-grid">
        <div class="detail-container">
            <h3>ورده‌كاری زیاتر‌</h3>
            <ul>
                <li>
                    زیاتر له‌ 
                    <%= records %>
                    ناو هه‌یه‌ له‌ بنكه‌دراوه‌
                </li>
                <li>له‌ رێگه‌ی 
                    <a alt="دره‌ختی گه‌شه‌پێده‌ران" href="http://m.me/nawykurdi">
                        فه‌یسبووكه‌وه‌ مانای ناوه‌كان به‌ده‌س بێنه‌
                    </a>
                </li>
                <li>له‌ لایه‌ن 
                    <a alt="دره‌ختی گه‌شه‌پێده‌ران" href="https://devstree.io">
                        دره‌ختی گه‌شه‌پێده‌ران
                    </a>
                    دروست كراوه‌
                </li>
                <li>ناوی كوردی سه‌رچاوه‌ كراوه‌یه‌</li>
            </ul>
        </div>
    </div>
    <div class="col col-7 col-md col-sm grid-around names-container"></div>  
</section>
<button onclick="topFunction()" id="to-top" title="Go to top"><i class="fas fa-chevron-up"></i></button>
<!-- Custom Script To Enable JS Functionality -->
<script>
    window.onload = function(){
        window.nawikurdi.favorites.init();
    }
</script>