<div class="grid grid-between submit-name-container">
    <div class="col-12 col-md col-sm">
        <h1>ناوێكی نوێمان بۆ بنێره‌</h1>
        <p>
            هه‌ركاتێك ناوێكی نوێمان بۆدێت ئه‌وا دوای ماوه‌یه‌ك هه‌ڵده‌ستین به‌ زیادكردنی دوای پێداچوونه‌وه‌
        </p>
    </div>
    <div class="col-12 col-md col-sm">
        <label>ناو</label>
        <input name="name" class="input" placeholder="ناوێك بنوسه‌..."/>
    </div>
    <div class="col-12 col-md col-sm">
        <label>مانای ناوه‌كه‌</label>
        <input name="desc" class="input" placeholder="مانای ئه‌و ناوه‌ی ده‌ینێریت چیه‌ ؟"/>
    </div>
</section>
