
<footer class="col grid">
    <div class="col col-middle">
        <p>
            له‌ لایه‌ن 
            <a alt="دره‌ختی گه‌شه‌پێده‌ران" href="https://devstree.io">
                دره‌ختی گه‌شه‌پێده‌ران
            </a>
            دروست كراوه‌
        </p>
    </div>
    
</footer>

</div>
<!-- End of main container -->
