<div class="grid main-grid">
    <div class="col">
        <nav class="grid grid-center ">
            <a href="/" class="col-1 col-md col-sm col-middle nav-item  <%= (activePage == 'home') ? 'active': '' %>">
                <p><i class="fas fa-home header-icon"></i> ماڵه‌وه‌</p>
            </a>
            <a href="#" class="col-2 col-md col-sm col-middle nav-item">
                <p><i class="fas fa-plus header-icon"></i> ناوێك بنێره </p>
            </a>
            <a href="http://m.me/nawykurdi" class="col-2 col-md col-sm col-middle nav-item">
                <p><i class="fab fa-facebook-messenger header-icon"></i> له‌ رێگه‌ی نامه‌وه‌ </p>
            </a>
            <a href="#" class="col-1 col-md col-sm col-middle nav-item">
                <p><i class="fas fa-exclamation header-icon"></i> ده‌رباره‌ </p>
            </a>
            <a href="/favorites" class="col-2 col-md col-sm col-middle nav-item  <%= (activePage == 'favorites') ? 'active': '' %>" >
                <p><i class="fas fa-heart txt-red header-icon"></i> دڵخوازه‌كان </p>
            </a>
        </nav>
    </div>

