
<title><%= title %></title>

<% if(activePage=='home'){ %>
    <meta name="title" content="">

    <meta name="description" content="">
    <meta name="keywords" content="">
    

    <!-- Open Graph / Facebook -->
    <meta property="article:author" content="https://www.facebook.com/nawykurdi" />
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="nawikurdi" />
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://lucid-source.com/">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

<% } %>